& {
  display: flex;
  flex-direction: row;
  background: #2f3138;
  height: 100vh;
  overflow: hidden;
}

& article {
  width: 66vw;
  overflow: auto;
  padding: 3rem;

  pre {
    color: #fff;
    outline: none;

    a {
      color: #61dafb;
    }
  }
}

& aside {
  width: 33vw;
  display: flex;
  flex-direction: column;
  background-color: #2c2d32;
  padding: 3rem;
  color: #fff;
  overflow: auto;

  h1 {
    font-size: 3rem;
    margin: 0;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  ul {
    border-radius: 0.5rem;
    overflow: scroll;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.05);
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  li + li {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.Overlay {
  height: 100vh;
  width: 100vw;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  overflow: hidden;

  svg {
    width: 20vw;
  }

  p {
    max-width: 40ex;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
  }
}

.Overlay-Text {
  color: #ce4f2d;
  font-family: Arial;
}

.Overlay-Button {
  border: 1px solid #ca5688;
  margin-top: 2rem;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 1rem;
  color: #282c34;
  background-color: #ca5688;
  font-weight: bold;
}

.Overlay-Button:hover {
  color: #ca5688;
  background: transparent;
}
