& {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background: #2f3138;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 62vh 38vh;
  grid-template-areas:
    'article'
    'aside';
  @media screen and (min-width: 1000px) {
    grid-template-columns: 20rem 1fr 24rem;
    grid-template-rows: 1fr 4rem;
    grid-template-areas:
      'nav article aside'
      'nav article footer';
    overflow: hidden;
    height: 100vh;
  }
}

& button.toggleOpenButton {
  position: fixed;
  z-index: 3;
  right: 1rem;
  top: 0.7rem;
  background-color: transparent;
  border: none;
  fill: #fff;
  @media screen and (min-width: 1000px) {
    display: none;
  }
}

& nav {
  transform: translateX(-100%);
  width: 90%;
  grid-area: nav;
  background: #26272c;
  color: #fff;
  position: absolute;
  z-index: 2;
  left: 0;
  padding: 2rem;
  padding-top: 3rem;
  transition: transform 0.25s;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: calc(100% - 60px);

  > * + * {
    margin-top: 1rem;
  }

  &.active {
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
    transform: translateX(0%);
    @media screen and (min-width: 1000px) {
      box-shadow: none;
    }
  }

  @media screen and (min-width: 1000px) {
    position: inherit;
    z-index: initial;
    width: auto;
    transform: translateX(0%);
    background: rgba(0, 0, 0, 0.2);
    min-width: 300px;
    max-width: 360px;
  }

  > button.toggleCloseButton {
    position: fixed;
    right: 1em;
    top: 1em;
    background-color: transparent;
    border: none;
    fill: #fff;
    @media screen and (min-width: 1000px) {
      display: none;
    }
  }

  > button.searchButton {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    background: #2a2c32;
    border: none;
    fill: rgba(255, 255, 255, 0.62);
    color: rgba(255, 255, 255, 0.62);
    text-align: center;
    padding: 1rem 0rem 1rem 2rem;
    font-size: 0.9rem;
    > svg {
      width: 1.2rem;
      height: 1.2rem;
    }
    > span {
      margin-left: 0.3rem;
    }
    &:hover {
      fill: #fff;
      color: #fff;
    }
  }

  > p {
    font-size: 0.9rem;
    line-height: 162%;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 2rem;
  }

  a {
    cursor: pointer;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);

    &:hover {
      color: #fff;
    }
  }

  h1 {
    display: inline-block;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    line-height: 138%;
    cursor: pointer;
  }

  h1:hover {
    color: rgba(255, 255, 255, 0.62);
  }

  > h2 {
    margin-top: 2rem;
    font-size: 1.38rem;
    font-weight: bold;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .info-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    > a {
      color: #fff;
      display: inline-block;
      text-decoration: none;
      > svg {
        display: inline-block;
        width: 2em;
        vertical-align: middle;
      }
    }
    > a:hover {
      > svg {
        > path {
          fill: #b03b3a;
        }
      }
    }
    > * + *:before {
      content: '|';
      margin: 0 0.3em;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    word-break: break-word;

    div,
    li {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      svg {
        flex: none;
        width: 1rem;
        height: 1rem;
        fill: rgba(255, 255, 255, 0.5);
        margin-right: 0.62rem;
      }
    }

    > div ~ * {
      margin-left: 0.5rem;
    }

    div > svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    h2 {
      font-size: 1rem;
      font-weight: bold;
    }
  }
}

& footer {
  grid-area: footer;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.6);
  display: none;
  padding: 0 1.62rem;

  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:first-child {
      width: 100%;
    }
  }

  svg {
    width: 1.62rem;
    height: 1.62rem;
    fill: currentColor;
    margin-left: 1rem;
  }

  @media screen and (min-width: 1000px) {
    width: auto;
    display: flex;
    align-items: center;
  }
}

& article {
  grid-area: article;
  overflow: auto;
  padding: 0rem;
  flex: 1 0 62%;

  @media screen and (min-width: 1000px) {
    height: 100vh;
  }

  h1 {
    padding: 1rem;
    width: 100%;
    text-align: center;
    background: #2a2c32;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    > svg {
      width: 1.2rem;
      height: 1.2rem;
      margin-right: 0.38rem;
      fill: rgba(255, 255, 255, 0.5);
    }
  }

  pre {
    color: #fff;
  }
}

& aside {
  grid-area: aside;
  display: flex;
  overflow: visible;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.062);
  padding: 3rem;
  color: #fff;
  flex: 1 0 auto;

  > * + * {
    margin-top: 1rem;
  }

  h1 {
    font-size: 1.62rem;
    font-weight: bold;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  p {
    font-size: 0.9rem;
    line-height: 162%;
    color: rgba(255, 255, 255, 0.6);
    margin: 1rem 0;
  }

  h3 {
    font-weight: bold;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    > a {
      overflow: visible;
      > p {
        word-break: break-all;
        white-space: normal;
        margin: 0;
      }
    }
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  ul {
    flex: none;
  }

  ul:not(:empty) {
    margin: 1rem 0;
  }

  li {
    display: flex;
    align-items: center;

    svg {
      flex: none;
      width: 1.38rem;
      height: 1.38rem;
      fill: rgba(255, 255, 255, 0.5);
      margin-right: 0.62rem;
    }

    a {
      color: rgba(255, 255, 255, 0.7);
      flex: 1 1 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: lighter;
      text-decoration: underline;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        cursor: pointer;
        color: #fff;
      }
    }

    > span {
      white-space: nowrap;
      margin-left: 1rem;
    }
  }

  li + li {
    margin-top: 1rem;
  }

  @media screen and (min-width: 1000px) {
    overflow: auto;
  }
}

& dialog {
  display: flex;
  position: fixed;
  background: none;
  border: none;
  height: 100vh;
  width: 100%;
  z-index: 3;

  > svg {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 10vw;
    fill: rgba(255, 255, 255, 0.1);
  }

  > div > * + * {
    margin-top: 2rem;
  }

  > div.overlay,
  > div.error {
    margin: auto;
    padding: 1rem;
    text-align: center;

    p {
      color: rgba(255, 255, 255, 0.8);
      font-size: 1rem;
      line-height: 162%;
      text-align: center;
      max-width: 50ex;
      @media screen and (min-width: 800px) {
        font-size: 1.5rem;
        line-height: 162%;
      }
    }

    h1 {
      font-weight: bold;
      color: rgba(255, 255, 255, 0.8);
      font-size: 6rem;
      margin: 0;
    }

    h6 {
      font-weight: bold;
      color: rgba(255, 255, 255, 0.5);
    }

    svg {
      width: 14rem;
      margin: -2rem;
    }

    button.openProject,
    button.errorButton {
      border: 1px solid #80eac7;
      margin-top: 2rem;
      font-size: 1rem;
      padding: 1rem;
      border-radius: 1rem;
      color: #282c34;
      background-color: #80eac7;
      font-weight: bold;
    }

    button:hover {
      color: #80eac7;
      background: transparent;
    }
  }
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
