& {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background: #2f3138;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 62vh 38vh;
  grid-template-areas:
    'article'
    'aside';
  @media screen and (min-width: 1000px) {
    grid-template-columns: 1fr 30rem;
    grid-template-rows: 1fr 4rem;
    grid-template-areas: 'article nav';
    overflow: hidden;
    height: 100vh;
  }
}

& button.toggleOpenButton {
  position: fixed;
  z-index: 3;
  right: 1rem;
  top: 0.7rem;
  background-color: transparent;
  border: none;
  fill: #fff;
  @media screen and (min-width: 1000px) {
    display: none;
  }
}

& dialog {
  display: flex;
  position: fixed;
  background: none;
  border: none;
  height: 100vh;
  width: 100%;
  z-index: 3;

  > a {
    svg {
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: 10vw;
      fill: rgba(255, 255, 255, 0.1);
    }
  }

  > div > * + * {
    margin-top: 2rem;
  }

  > div.overlay,
  > div.error {
    margin: auto;
    padding: 1rem;
    text-align: center;

    p {
      color: rgba(255, 255, 255, 0.8);
      font-size: 1rem;
      line-height: 162%;
      text-align: center;
      max-width: 50ex;
      @media screen and (min-width: 800px) {
        font-size: 1.5rem;
        line-height: 162%;
      }
    }

    h1 {
      font-weight: bold;
      color: rgba(255, 255, 255, 0.8);
      font-size: 6rem;
      margin: 0;
    }

    h6 {
      font-weight: bold;
      color: rgba(255, 255, 255, 0.5);
    }

    svg {
      width: 14rem;
      margin: -2rem;
    }

    button.openProject,
    button.errorButton {
      border: 1px solid #80eac7;
      margin-top: 2rem;
      font-size: 1rem;
      padding: 1rem;
      border-radius: 1rem;
      color: #282c34;
      background-color: #80eac7;
      font-weight: bold;
      cursor: pointer;
    }

    button:hover {
      color: #80eac7;
      background: transparent;
    }
  }
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

li {
  list-style: none;
}

select {
  font-size: 1.38rem;
  width: 100%;
  height: 3.6rem;
  text-indent: 1rem;
  background: rgba(0, 0, 0, 0.1);
  border: 0;
  border-right: 1rem solid transparent;
  color: rgba(255, 255, 255, 0.8);
}
