@keyframes innerKf {
  25% {
    opacity: 0.1;
  }
  50%,
  100% {
    opacity: 0.4;
  }
}

@keyframes middleKf {
  25% {
    opacity: 0.4;
  }
  50%,
  100% {
    opacity: 0.7;
  }
}

svg {
  width: 30vw;
  user-select: none;
  cursor: auto;
}

.Svg:hover .InnerRing {
  animation: innerKf 2.4s infinite ease-in-out;
}

.Svg:hover .MiddleRing {
  animation: middleKf 2.4s infinite ease-in-out;
}

text {
  font-weight: bold;
}
