@keyframes innerKf {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes middleKf {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.4;
  }
}

svg {
  width: 30vw;
}

.Svg:hover .InnerRing {
  animation-name: innerKf;
  animation-duration: 0.66s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.Svg:hover .MiddleRing {
  animation-name: middleKf;
  animation-duration: 0.66s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

text {
  font-weight: bold;
}
